demo-stage {
  display: grid;
  gap: var(--size-fluid-7);
  grid-auto-columns: auto;
  grid-auto-flow: column;
  place-content: center;
  align-items: center;

  max-inline-size: 90vw;
  inline-size: 100%;
  max-block-size: 20vw;

  @nest slyd > &:first-of-type {
    margin-block-end: var(--size-5);
  }
}