.sticky-slide-starter-kit {
  --_slide-size: 35vh;

  block-size: var(--_slide-size);
  inline-size: 25vw;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;

  & > section {
    min-block-size: var(--_slide-size);
    scroll-snap-align: start;
    scroll-snap-stop: always;

    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-of-type(even) {
      color: var(--green-0);
      background: var(--green-7);
    }

    &:nth-of-type(odd) {
      color: var(--teal-0);
      background: var(--teal-8);
    }
  }
}