---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="clipping-overflow">
  <h2 class="lg-codeblock-adjust">Clipping</h2>
  <demo-stage>
    <Prism lang='css' code={`
      .scroll-x {
        overflow-x: hidden;
      }
    `}/>
    <slyd-scrollport style="overflow: hidden;">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </slyd-scrollport>
  </demo-stage>

  <demo-stage>
    <Prism lang='css' code={`
      .scroll-y {
        overflow-y: hidden;
      }
    `}/>
    <slyd-scrollport class="vertical" style="overflow: hidden;">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </slyd-scrollport>
  </demo-stage>
</slyd>