---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="horizontal">
  <h2 class="lg-codeblock-adjust">Horizontal</h2>
  <demo-stage>
    <Prism lang='css' code={`
      .scroll-x {
        overflow-x: auto;
      }
    `}/>
    <slyd-scrollport>
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </slyd-scrollport>
  </demo-stage>

  <demo-stage>
    <Prism lang='css' code={`
      .scroll-x-rtl {
        overflow-x: auto;
        direction: rtl;
      }
    `}/>
    <slyd-scrollport class="rtl">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </slyd-scrollport>
  </demo-stage>
</slyd>