---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="snap-type">
  <h2>Snap Type</h2>
  <demo-stage>
    <Prism lang='css' code={`
      .scroll-x {
        overflow-x: auto;
      }
    `}/>
    <slyd-scrollport>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </slyd-scrollport>
  </demo-stage>

  <demo-stage>
    <Prism lang='css' code={`
      .scroll-x {
        direction: rtl;
        overflow-x: auto;
      }
    `}/>
    <slyd-scrollport style="direction: rtl">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </slyd-scrollport>
  </demo-stage>
</slyd>