---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="overflow-touch">
  <h2>Touch</h2>
  <code-gallery>
    <Prism lang='css' code={`
      /* unscoped / top of doc */
      :root {
        --border-width: 5px;
      }`
    }/>
    <Prism lang='css' code={`
      html  { --brand: red; }
      :root { --brand: #bada55; }
      div   { --brand: blue; }
      .btn  { --brand: green; }
    `}/>
    <Prism lang='css' code={`
      html  { --brand: red; }
      :root { --brand: #bada55; }
      div   { --brand: blue; }
      .btn  { --brand: green; }
    `}/>
  </code-gallery>
</slyd>