---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="vertical">
  <h2 class="lg-codeblock-adjust">Vertical</h2>
  <demo-stage>
    <Prism lang='css' code={`
      .scroll-y {
        overflow-y: auto;
      }
    `}/>
    <slyd-scrollport class="vertical">
      {[...Array(10)].map(() => ( 
        <div></div> 
      ))}  
    </slyd-scrollport>
  </demo-stage>

  <demo-stage>
    <Prism lang='css' code={`
      .scroll-y-rtl {
        overflow-y: auto;
        direction: rtl;
      }
    `}/>
    <slyd-scrollport class="vertical rtl">
      {[...Array(10)].map(() => ( 
        <div></div> 
      ))}
    </slyd-scrollport>
  </demo-stage>
</slyd>