code-gallery {
  --space: 5vmin;
  display: flex;
  align-items: center;
  gap: var(--space);
  overflow: scroll hidden;
  overscroll-behavior-x: contain;
  max-inline-size: 94vw;
  padding-inline: var(--space);
  padding-block-end: 20px;
  scroll-padding-inline: var(--space);
  scroll-snap-type: x;

  @media (orientation: portrait) {
    transform: translateZ(0);
  }

  & > * {
    flex-shrink: 0;
    scroll-snap-align: center;
  }

  & > picture {
    transform: translateZ(0);
  }
}

demo-stage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-inline-size: 90vw;
}

slyd-scrollport {
  overflow: auto;
  overscroll-behavior: contain;
  max-inline-size: 100%;
  background: hsl(var(--hue) var(--saturation) 4%);

  display: flex;
  gap: var(--size-5);
  padding: var(--size-5);
  align-items: center;

  & > * {
    block-size: 25vmin;
    aspect-ratio: 1;
    box-shadow: var(--shadow-3);

    &:nth-child(1) { background: var(--indigo-4) }
    &:nth-child(2) { background: var(--violet-4) }
    &:nth-child(3) { background: var(--grape-4) }
    &:nth-child(4) { background: var(--pink-4) }
    &:nth-child(5) { background: var(--red-4) }
    &:nth-child(6) { background: var(--orange-4) }
    &:nth-child(7) { background: var(--yellow-4) }
    &:nth-child(8) { background: var(--lime-4) }
    &:nth-child(9) { background: var(--green-4) }
    &:nth-child(10) { background: var(--teal-4) }
  }
}