@layer libraries, overrides, slides, tricks;

@import "slyd" layer(libraries);

@import "./custom.prism.css" layer(overrides);
@import "./slyd.overrides.css" layer(overrides);

@import "./utilities.css" layer(slides);
@import "./components/code-gallery.css" layer(slides);
@import "./components/demo-stage.css" layer(slides);
@import "./components/slyd-scrollport.css" layer(slides);

@import "./tricks/in-view.css" layer(tricks);
@import "./tricks/slides-starter-kit.css" layer(tricks);
@import "./tricks/sticky-slide-starter-kit.css" layer(tricks);
@import "./tricks/perspective-starter-kit.css" layer(tricks);
@import "./tricks/nested-slyds-demo.css" layer(tricks);
@import "./tricks/tap-to-snap.css" layer(tricks);
@import "./tricks/auto-forward.css" layer(tricks);
@import "./tricks/infinite-scroll.css" layer(tricks);
@import "./tricks/smart.css" layer(tricks);
@import "./tricks/overscroll.css" layer(tricks);
@import "./tricks/pull-to-refresh.css" layer(tricks);
@import "./tricks/scroll-start.css" layer(tricks);
@import "./tricks/scroll-linked-tabs.css" layer(tricks);
@import "./tricks/date-time-picker.css" layer(tricks);
@import "./tricks/chat.css" layer(tricks);
@import "./tricks/stories.css" layer(tricks);
@import "./tricks/swipe-ui.css" layer(tricks);

@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset 145ms var(--ease-2);
  }
  :where(:not(:active)):focus-visible {
    transition-duration: .25s;
  }
}

:where(:not(:active)):focus-visible {
  outline-offset: 5px;
}

#glossary {
  & > code-gallery > div {
    transition: opacity 1s ease 1s;

    &.in-view {
      opacity: 1;
    }

    &:not(.in-view) {
      opacity: .1;
    }
  }
}