.lifted,
code-gallery > pre {
  background: hsl(var(--hue) var(--saturation) 12%);
  box-shadow: var(--shadow-3);
  padding-inline: var(--size-7);
  padding-block: var(--size-5);
  border-radius: var(--radius-3);
}

.columns {
  display: flex;
  gap: var(--size-5);
}

.rows {
  display: grid;
  gap: var(--size-5);
}

.vertical {
  flex-direction: column;
  justify-self: flex-start;

  &.tall {
    min-block-size: 45vh;
  }
}

.both {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.snap-both {
  scroll-snap-type: both mandatory;

  & > * {
    scroll-snap-align: center;
  }
}

.snap-x {
  scroll-snap-type: x mandatory; 

  & > * {
    scroll-snap-align: center;
  }
}

.snap-one-x {
  scroll-snap-type: x mandatory; 

  & > :nth-child(5) {
    scroll-snap-align: center; 
  }
}

.snap-nested-x {
  scroll-snap-type: x mandatory; 

  & > div {
    &:nth-of-type(even) {text-align: start}
    &:nth-of-type(odd)  {text-align: end}

    & > span {
      display: inline-block;
      scroll-snap-align: center; 
    }
  }
}

.snap-y {
  scroll-snap-type: y proximity;

  &.snap-stop {
    scroll-snap-type: y mandatory;

    & > * {
      scroll-snap-stop: always;
    }
  }

  & > * {
    scroll-snap-align: center;
  }
}

.snap-y-prox {
  scroll-snap-type: y proximity;

  & > * {
    scroll-snap-align: center;
  }
}

.snap-y-start {
  scroll-snap-type: y mandatory;

  & > * {
    scroll-snap-align: start;
  }
}

.snap-stop > * {
  scroll-snap-stop: always;
}

.rtl {
  direction: rtl;
}