.lifted,
code-gallery > pre {
  background: hsl(var(--hue) var(--saturation) 12%);
  box-shadow: var(--shadow-3);
  padding-inline: var(--size-7);
  padding-block: var(--size-5);
  border-radius: var(--radius-3);
}

.vertical {
  flex-direction: column;
  justify-self: flex-start;

  &.tall {
    min-block-size: 45vh;
  }
}

.both {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.snap-both {
  scroll-snap-type: both mandatory;

  & > * {
    scroll-snap-align: center;
  }
}

.snap-x {
  scroll-snap-type: x mandatory;

  & > * {
    scroll-snap-align: center;
  }
}

.snap-y {
  scroll-snap-type: y proximity;

  &.snap-stop {
    scroll-snap-type: y mandatory;

    & > * {
      scroll-snap-stop: always;
    }
  }

  & > * {
    scroll-snap-align: center;
  }
}

.snap-y-prox {
  scroll-snap-type: y proximity;

  & > * {
    scroll-snap-align: center;
  }
}

.snap-stop > * {
  scroll-snap-stop: always;
}

.rtl {
  direction: rtl;
}