---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="3d-perspective">
  <h2>3D Perspective</h2>
  <demo-stage style="max-block-size: 55vh;">
    <Prism lang='css' code={`
      .scrollport {
        perspective: 10px;
        perspective-origin: center center;
      }

      .scrollport, .scroll-item {
        transform-style: preserve-3d;
      }

      .scroll-item > p {
        transform: translateZ(-5px);
      }
    `}/>
    <div class="perspective-starter-kit">
      {[...Array(3)].map((x, i) => ( 
        <section>
          <p>depth {i}</p>
        </section> 
      ))}
      <section class="kitchen-sink">
        <p>depth 1</p>
        <p>depth 2</p>
        <p>depth 3</p>
      </section>
      <section>
        <p style="transform: translateZ(3px);">rad 🤘💀</p>
      </section>
    </div>
  </demo-stage>
</slyd>