---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="infinite-scroll">
  <h2>Infinite Scroll</h2>
  <demo-stage style="max-block-size: 55vh; gap: var(--size-5);">
    <Prism lang='js' code={`
      IntersectionObserver(nodes => {
        const [active] = nodes.filter(node => 
          node.isIntersecting)
        ...
        if (active.target === parent.lastElementChild)
          parent.firstElementChild.scrollIntoView()
      }, {
        root: scrollPort
      })
    `}/>
    <div class="infinite-scroll">
      <div>this</div><div>carousel</div><div>never</div><div>ends</div><div>this</div>
    </div>
  </demo-stage>
</slyd>