---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="overscroll-effect">
  <h2>Overscroll Effect</h2>
  <demo-stage>
    <Prism lang='css' code={`
      .scrollport > :not(.overscroller) {
        scroll-snap-align: start;
      }
    `}/>
    <div class="overscroll-demo">
      <div class="overscroller"></div>
      {[...Array(10)].map(() => ( 
        <div></div> 
      ))}
      <div class="overscroller"></div>
    </div>
  </demo-stage>
</slyd>