---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="overscroll-effect">
  <h2>Overscroll Effect</h2>
  <demo-stage>
    <Prism lang='css' code={`
      
    `}/>
    <slyd-scrollport class="horizontal snap-x">
      {[...Array(10)].map(() => ( 
        <div></div> 
      ))}
    </slyd-scrollport>
  </demo-stage>
</slyd>