---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="scroll-start-trick">
  <h2>Scroll Start</h2>
  <demo-stage style="min-block-size: 45vh">
    <Prism lang='css' code={`
      @keyframes scroll-start-target {
        from { 
          scroll-snap-align: center; 
        }
        to { 
          scroll-snap-align: unset; 
        }
      }
    `}/>
    <slyd-scrollport class="horizontal scroll-start-trick">
      {[...Array(10)].map(() => ( 
        <div></div> 
      ))}
    </slyd-scrollport>
  </demo-stage>
</slyd>
