---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="sticky-starter-kit">
  <h2>Sticky Starter</h2>
  <demo-stage>
    <Prism lang='css' code={`
      .scroll-item {
        position: sticky;
        top: 0;
      }
    `}/>
    <div class="sticky-slide-starter-kit">
      {[...Array(10)].map((x, i) => ( 
        <section>slide {i}</section> 
      ))}
    </div>
  </demo-stage>
</slyd>