---
import OverflowTitle from '../slyds/review/Title.astro'
import ClippingOverflow from '../slyds/review/Clipping.astro'
import HorizontalOverflow from '../slyds/review/Horizontal.astro'
import VerticalOverflow from '../slyds/review/Vertical.astro'
import LogicalOverflow from '../slyds/review/Logical.astro'
import XandY from '../slyds/review/XandY.astro'
import Glossary from '../slyds/review/Glossary.astro'

import BasicsTitle from '../slyds/basics/Title.astro'
import BasicHorizontal from '../slyds/basics/Horizontal.astro'
import BasicVertical from '../slyds/basics/Vertical.astro'
import StopVertical from '../slyds/basics/VerticalStop.astro'
import Matrix from '../slyds/basics/Matrix.astro'
import StopMatrix from '../slyds/basics/MatrixStop.astro'

import AdvancedSnap from '../slyds/advanced/Title.astro'
import SingleHorizontal from '../slyds/advanced/HorizontalSingle.astro'
import NestedHorizontal from '../slyds/advanced/HorizontalNested.astro'
import OverscrollBehavior from '../slyds/advanced/OverscrollBehavior.astro'
import ScrollPadding from '../slyds/advanced/ScrollPadding.astro'
import ScrollMargin from '../slyds/advanced/ScrollMargin.astro'
import ScrollIntoView from '../slyds/advanced/ScrollIntoView.astro'
import SnapAfterLayout from '../slyds/advanced/SnapAfterLayout.astro'
import DevTools from '../slyds/advanced/DevTools.astro'
import RecapScrollport from '../slyds/advanced/RecapScrollport.astro'
import RecapScrollItem from '../slyds/advanced/RecapScrollItem.astro'

import SnapTricks from '../slyds/tricks/Title.astro'
---

<script>
	import "slyd"
</script>

<style is:global>
	@import "/src/styles/index.css";
</style>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#000000">

	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<!-- <link rel="stylesheet" href="/src/styles/index.css"> -->

	<title>CSS Day 2022</title>
</head>
<body>
	<slyds>
		<slyd-group>
    	<slyd id="intro">
        <h1 uppercase>oh snap!</h1>
        <h3>Guiding <span highlight>Scroll</span></h3>
      </slyd>
    </slyd-group>

    <slyd-group>
    	<OverflowTitle />
    	<ClippingOverflow />
    	<HorizontalOverflow />
    	<VerticalOverflow />
			<LogicalOverflow />
    	<XandY />
    	<Glossary />
    </slyd-group>

    <slyd-group>
    	<BasicsTitle />
    	<BasicHorizontal />
    	<BasicVertical />
    	<Matrix />
    	<StopVertical />
    	<StopMatrix />
    </slyd-group>

    <slyd-group>
      <AdvancedSnap />
    	<SingleHorizontal />
    	<NestedHorizontal />
      <OverscrollBehavior />
      <ScrollPadding />
      <ScrollMargin />
      <ScrollIntoView />
      <SnapAfterLayout />
      <DevTools />
      <RecapScrollport />
      <RecapScrollItem />
    </slyd-group>

    <slyd-group>
      <SnapTricks />
    </slyd-group>

    <slyd-group>
      <slyd id="css-is-moving-fast">
        <h2><b class="neon-blue">CSS</b> is</h2>
        <h1><b class="neon-white">CRUISIN</b></h1>
      </slyd>

      <slyd id="thank-you">
        <h2><b class="neon-pink">Thank You</b></h2>
        <h1 uppercase>CSS <b class="neon-purple">Day</b></h1>
      </slyd>
    </slyd-group>

  </slyds>
</body>
</html>