---
import IntroTest from '../slyds/intro.test.astro'
import IntroTest2 from '../slyds/intro.test2.astro'
---

<script>
	import "slyd";
</script>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#000000">

	<link rel="icon" href="/favicon.svg" type="image/svg+xml">

  <link rel="stylesheet" href="/src/styles/index.css">

	<title>CSS Day 2022</title>
</head>
<body>
	<slyds>

    <slyd-group>
    	<IntroTest />
    	<IntroTest2 />
    </slyd-group>

  </slyds>
</body>
</html>