---
import Intro from '../slyds/Intro.astro'

import OverflowTitle from '../slyds/review/Title.astro'
import ClippingOverflow from '../slyds/review/Clipping.astro'
import HorizontalOverflow from '../slyds/review/Horizontal.astro'
import VerticalOverflow from '../slyds/review/Vertical.astro'
import XandY from '../slyds/review/XandY.astro'
import Glossary from '../slyds/review/Glossary.astro'

import BasicsTitle from '../slyds/basics/Title.astro'
import BasicHorizontal from '../slyds/basics/Horizontal.astro'
import BasicVertical from '../slyds/basics/Vertical.astro'
import StopVertical from '../slyds/basics/VerticalStop.astro'
---

<script>
	import "slyd"
</script>

<style is:global>
	@import "/src/styles/index.css";
</style>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#000000">

	<link rel="icon" href="/favicon.svg" type="image/svg+xml">

	<title>CSS Day 2022</title>
</head>
<body>
	<slyds>

		<slyd-group>
    	<Intro />
    </slyd-group>

    <slyd-group>
    	<OverflowTitle />
    	<ClippingOverflow />
    	<HorizontalOverflow />
    	<VerticalOverflow />
    	<XandY />
    	<Glossary />
    </slyd-group>

    <slyd-group>
    	<BasicsTitle />
    	<BasicHorizontal />
    	<BasicVertical />
    	<StopVertical />
    </slyd-group>

  </slyds>
</body>
</html>