---
import OverflowTitle from '../slyds/review/Title.astro'
import ClippingOverflow from '../slyds/review/Clipping.astro'
import HorizontalOverflow from '../slyds/review/Horizontal.astro'
import VerticalOverflow from '../slyds/review/Vertical.astro'
import LogicalOverflow from '../slyds/review/Logical.astro'
import XandY from '../slyds/review/XandY.astro'
import Glossary from '../slyds/review/Glossary.astro'

import BasicsTitle from '../slyds/basics/Title.astro'
import Syntax from '../slyds/basics/Syntax.astro'
import BasicHorizontal from '../slyds/basics/Horizontal.astro'
import BasicVertical from '../slyds/basics/Vertical.astro'
import StopVertical from '../slyds/basics/VerticalStop.astro'
import Matrix from '../slyds/basics/Matrix.astro'
import StopMatrix from '../slyds/basics/MatrixStop.astro'

import AdvancedSnap from '../slyds/advanced/Title.astro'
import DevTools from '../slyds/advanced/DevTools.astro'
import SingleHorizontal from '../slyds/advanced/HorizontalSingle.astro'
import NestedHorizontal from '../slyds/advanced/HorizontalNested.astro'
import OverscrollBehavior from '../slyds/advanced/OverscrollBehavior.astro'
import ScrollPadding from '../slyds/advanced/ScrollPadding.astro'
import ScrollMargin from '../slyds/advanced/ScrollMargin.astro'
import ScrollIntoView from '../slyds/advanced/ScrollIntoView.astro'
import SnapAfterLayout from '../slyds/advanced/SnapAfterLayout.astro'
import IntersectionObserver from '../slyds/advanced/IntersectionObserver.astro'
import IntersectionObserverInView from '../slyds/advanced/IntersectionObserverInView.astro'
import DevTools from '../slyds/advanced/DevTools.astro'
import SnapGallery from '../slyds/advanced/SnapGallery.astro'
import RecapScrollport from '../slyds/advanced/RecapScrollport.astro'
import RecapScrollItem from '../slyds/advanced/RecapScrollItem.astro'

import SnapTricks from '../slyds/tricks/Title.astro'
import Perspective from '../slyds/tricks/3DPerspective.astro'
import AutoForward from '../slyds/tricks/AutoForward.astro'
import Chat from '../slyds/tricks/Chat.astro'
import DateTimePicker from '../slyds/tricks/DateTimePicker.astro'
import InfiniteScroll from '../slyds/tricks/InfiniteScroll.astro'
import OverscrollEffect from '../slyds/tricks/OverscrollEffect.astro'
import PullToRefresh from '../slyds/tricks/PullToRefresh.astro'
import QuantityResponsive from '../slyds/tricks/QuantityResponsive.astro'
import ScrollLinked from '../slyds/tricks/ScrollLinked.astro'
import ScrollStartTrick from '../slyds/tricks/ScrollStart.astro'
import SlydStarter from '../slyds/tricks/SlydStarter.astro'
import Smart from '../slyds/tricks/SMART.astro'
import StarterKit from '../slyds/tricks/StarterKit.astro'
import StarterKitSticky from '../slyds/tricks/StarterKitSticky.astro'
import Stories from '../slyds/tricks/Stories.astro'
import SwipeUI from '../slyds/tricks/SwipeUI.astro'
import Tabs from '../slyds/tricks/Tabs.astro'
import TapToSnap from '../slyds/tricks/TapToSnap.astro'

import SnapNext from '../slyds/explainers/Title.astro'
import SnapExplainers from '../slyds/explainers/SnapExplainers.astro'
import SnapDraft from '../slyds/explainers/SnapDraft.astro'
import SnapTarget from '../slyds/explainers/SnapTarget.astro'
import ScrollStart from '../slyds/explainers/ScrollStart.astro'
import SnapChanging from '../slyds/explainers/SnapChanging.astro'
import SnapChanged from '../slyds/explainers/SnapChanged.astro'
import SnapTo from '../slyds/explainers/SnapTo.astro'
---

<script>
  import "slyd"
  import "../scripts/index.js"
</script>

<style is:global>
  @import "/src/styles/index.css";
</style>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#000000">

	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<!--<link rel="stylesheet" href="/src/styles/index.css">-->
	<link rel="stylesheet" href="https://gitcdn.xyz/repo/octoshrimpy/blokkfont/master/blokkfont.css" media="print" onload="this.media='all'">

	<title>CSS Day 2022</title>
</head>
<body>
	<slyds>
		<slyd-group>
    	<slyd id="intro">
        <h1 uppercase>oh snap!</h1>
        <h3>That <span highlight>Scroll</span> Control</h3>
      </slyd>
    </slyd-group>

    <slyd-group>
    	<OverflowTitle />
    	<ClippingOverflow />
    	<HorizontalOverflow />
    	<VerticalOverflow />
			<LogicalOverflow />
    	<XandY />
    	<Glossary />
    </slyd-group>

    <slyd-group>
    	<BasicsTitle />
        <Syntax />
      <DevTools />
    	<BasicHorizontal />
    	<BasicVertical />
    	<Matrix />
    	<StopVertical />
    	<StopMatrix />
    </slyd-group>

    <slyd-group>
      <AdvancedSnap />
    	<SingleHorizontal />
    	<NestedHorizontal />
      <OverscrollBehavior />
      <ScrollPadding />
      <ScrollMargin />
      <ScrollIntoView />
      <SnapAfterLayout />
      <IntersectionObserver />
      <IntersectionObserverInView />
      <SnapGallery />
      <RecapScrollport />
      <RecapScrollItem />
    </slyd-group>

    <slyd-group>
      <SnapTricks />
      <StarterKit />
      <StarterKitSticky />
      <Perspective />
      <SlydStarter />
      <TapToSnap />
      <AutoForward />
      <InfiniteScroll />
      <Smart />
      <OverscrollEffect />
      <ScrollStartTrick />
      <PullToRefresh />
      <!-- <QuantityResponsive /> -->
      <ScrollLinked />
      <!-- <Tabs /> -->
      <DateTimePicker />
      <Chat />
      <Stories />
      <SwipeUI />
    </slyd-group>

    <slyd-group>
    	<SnapNext />
    	<SnapExplainers />
    	<SnapDraft />
    	<SnapTarget />
    	<ScrollStart />
    	<SnapChanging />
    	<SnapChanged />
    	<SnapTo />
    </slyd-group>

    <slyd-group>
      <slyd id="holy-snap">
        <h2>Holy Snap</h2>
        <h1>Scroll 🤯</h1>
      </slyd>

      <slyd id="thank-you">
        <h2>Thank You</h2>
        <h1 uppercase>CSS Day</h1>
      </slyd>
    </slyd-group>

  </slyds>
</body>
</html>
