---
import Intro from '../slyds/Intro.astro'

import OverflowTitle from '../slyds/review/Title.astro'
import ClippingOverflow from '../slyds/review/Clipping.astro'
import HorizontalOverflow from '../slyds/review/Horizontal.astro'
import VerticalOverflow from '../slyds/review/Vertical.astro'
import LogicalOverflow from '../slyds/review/Logical.astro'
import XandY from '../slyds/review/XandY.astro'
import Glossary from '../slyds/review/Glossary.astro'

import BasicsTitle from '../slyds/basics/Title.astro'
import BasicHorizontal from '../slyds/basics/Horizontal.astro'
import BasicVertical from '../slyds/basics/Vertical.astro'
import StopVertical from '../slyds/basics/VerticalStop.astro'
import Matrix from '../slyds/basics/Matrix.astro'

import SnapMeta from '../slyds/meta/Title.astro'
import OverscrollBehavior from '../slyds/meta/OverscrollBehavior.astro'
import ScrollPadding from '../slyds/meta/ScrollPadding.astro'
import ScrollMargin from '../slyds/meta/ScrollMargin.astro'
import ScrollIntoView from '../slyds/meta/ScrollIntoView.astro'
import SnapAfterLayout from '../slyds/meta/SnapAfterLayout.astro'
import DevTools from '../slyds/meta/DevTools.astro'
---

<script>
	import "slyd"
</script>

<style is:global>
	@import "/src/styles/index.css";
</style>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#000000">

	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<!-- <link rel="stylesheet" href="/src/styles/index.css"> -->

	<title>CSS Day 2022</title>
</head>
<body>
	<slyds>

		<slyd-group>
    	<Intro />
    </slyd-group>

    <slyd-group>
    	<OverflowTitle />
    	<ClippingOverflow />
    	<HorizontalOverflow />
    	<VerticalOverflow />
			<LogicalOverflow />
    	<XandY />
    	<Glossary />
    </slyd-group>

    <slyd-group>
    	<BasicsTitle />
    	<BasicHorizontal />
    	<BasicVertical />
    	<Matrix />
    	<StopVertical />
    </slyd-group>

		<slyd-group>
			<SnapMeta />
			<OverscrollBehavior />
			<ScrollPadding />
			<ScrollMargin />
			<ScrollIntoView />
			<SnapAfterLayout />
			<DevTools />
		</slyd-group>

  </slyds>
</body>
</html>