---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="intersection-observer">
  <h2 class="lg-codeblock-adjust">Intersection Observer</h2>
  <Prism lang='js' code={`
    let ioCallback = nodes => {
      // filter based on intersection/bounds/etc
    }

    let io = new IntersectionObserver(ioCallback, { 
      root: scrollport,
    })

    for (let item of scrollitems)
      io.observe(item)
  `}/>
</slyd>