---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="overscroll-behavior">
  <h2>Trapping Scroll</h2>

  <demo-stage style="gap: var(--size-7)">
    <Prism lang='css' code={`
      .hungry-overscroll-monster {
        overscroll-behavior: contain;
        overscroll-behavior: auto contain;
        overscroll-behavior-x: contain;
        overscroll-behavior-inline: contain; 
      }
    `}/>
    <div class="columns" style="max-block-size: 40vh;">
      <div class="rows">
        <h5>Contained</h5>
        <slyd-scrollport class="tall vertical snap-y-prox">
          {[...Array(5)].map(() => ( 
            <div></div> 
          ))}  
        </slyd-scrollport>
      </div>
      <div class="rows">
        <h5>Default</h5>
        <slyd-scrollport class="tall vertical snap-y-prox" style="overscroll-behavior: auto">
          {[...Array(5)].map(() => ( 
            <div></div> 
          ))}  
        </slyd-scrollport>
      </div>
    </div>
  </demo-stage>
</slyd>