<slyd id="advanced-recap-scrollport">
  <h2><span highlight>Scrollport</span> Recap</h2>
  <ul>
    <li>snap & overflow axis</li>
    <li>gap, padding & scroll-padding</li>
    <li>overscroll-behavior</li>
  </ul>
</slyd>