<slyd id="advanced-recap-scrollport">
  <h2>The <span highlight>Scrollport</span></h2>
  <ul>
    <li>overflow axis</li>
    <li>scroll-snap-type</li>
    <li>gap, padding & scroll-padding</li>
    <li>overscroll-behavior</li>
  </ul>
</slyd>