<slyd id="advanced-recap-scrollport">
  <h2>The <span highlight>Scrollport</span></h2>
  <ul>
    <li>Overflow axis</li>
    <li>Scroll-snap-type</li>
    <li>Gap, padding & scroll-padding</li>
    <li>Overscroll-behavior</li>
  </ul>
</slyd>