---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="basic-horizontal" class="lg-gap">
  <h2>Horizontal</h2>
  <demo-stage>
    <Prism lang='css' code={`
      .snap-x {
        scroll-snap-type: x mandatory;

        & > * {
          scroll-snap-align: center;
        }
      }
    `}/>
    <slyd-scrollport class="snap-x">
      {[...Array(10)].map(() => ( 
        <div></div> 
      ))}
    </slyd-scrollport>
  </demo-stage>
</slyd>