---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="matrix-stop" class="lg-gap">
  <h2>Matrix Stops</h2>
  <demo-stage>
    <Prism lang='css' code={`
      .snap-both-axis {
        scroll-snap-type: both mandatory;
      }

      .snap-both-axis > * {
        scroll-snap-stop: always;
      }
    `}/>
    <slyd-scrollport class="both snap-both snap-stop">
      {[...Array(36)].map(() => ( 
        <div></div> 
      ))}
    </slyd-scrollport>
  </demo-stage>
</slyd>