---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="stop-vertical">
  <h2>Snap Stop</h2>
  <demo-stage>
    <Prism lang='css' code={`
      .snap-y > * {
        scroll-snap-stop: always;
      }
    `}/>
    <slyd-scrollport class="vertical snap-y snap-stop">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </slyd-scrollport>
  </demo-stage>
</slyd>