---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="snap-changing">
  <h2>snapChanging()</h2>
  <demo-stage style="max-block-size: 50vh">
    <Prism lang='js' code={`
      el.onsnapchanging = event => {
        console.info(event)
      })
    `}/>
    <video src="/snapChanging-pogo.mov" autoplay muted loop loading="lazy" style="height: 50vh"></video>
  </demo-stage>
</slyd>