---
import Prism from '/src/utils/Prism.astro'
---

<slyd id="snap-changed">
  <h2 class="lg-codeblock-adjust">snapChanged()</h2>
  <demo-stage style="max-block-size: 50vh">
    <Prism lang='js' code={`
      el.onsnapchanged = event => {
        console.info(event)
      })
    `}/>
    <video src="/snapChanged-twitter.mov" autoplay muted loop loading="lazy" style="height: 50vh"></video>
  </demo-stage>
  <span badge>Scroll Snap 2</span>
</slyd>